
  h1{  font-size: 24px;
    color: black;
    align-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.body{
  background-color:cyan;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:12px;
}

#msg_button{
color: orangered;
margin: 25px;
align-self: center;
background-color:aliceblue;
border: none;
border-radius: 10px;
}
#email_button{
  color: black;
  margin: 25px;
  align-self: center;
  background-color:aliceblue;
  border: none;
  border-radius: 10px;
  }
p{
  color: brown;
  font-size: x-large;
  align-self: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:navajowhite;
}